In [128]:
from csv import reader
import os
import regex as re
import pandas as pd

In [129]:

search_in = os.listdir('C:/Users/Laramie/Desktop/data_REVL/elips_code_csvs')[:-1]

to_test = re.compile(r'^.+revolving.+$', re.IGNORECASE, re.BESTMATCH)
captured = {}
for f in search_in:
    with open(f, 'r') as file:
        for line in file:
            found = to_test.search(line)
            if not found:
                pass
            else:
                if file.name not in captured.keys():
                    captured[file.name] = list(line)
                else:
                    captured[file.name].append(line)

In [130]:
search_in = os.listdir('C:/Users/Laramie/Desktop/data_REVL/elips_code_csvs')[:-1]

to_test = re.compile(r'^.+revolving.+$', re.IGNORECASE, re.BESTMATCH)
captured = {}
for f in search_in:
    df = pd.read_csv(f)

In [131]:
to_test = re.compile(r'^.+revolving.+$', re.IGNORECASE, re.BESTMATCH)

In [141]:
df = pd.read_csv('ELIPSLOOKUP_SUBPGMCDTBL.csv')
df = df[df.columns[:2]]
df['DESCRIPTION']=df['DESCRIPTION'].str.lower()
df[(df['DESCRIPTION'].str.contains('rev'))|(df['DESCRIPTION'].str.contains('line'))].set_index('SUBPROGRAMCD')

                                                    DESCRIPTION
SUBPROGRAMCD
1005                                    line of credit guaranty
1007                                    seasonal line of credit
1013          revolving line of credit exports - sec. 7(a) (14)
1021          domestic revolving line of credit - current as...
1022           domestic revolving line of credit - fixed assets
1023          greenline - revolving l. of cred. - current as...
1024           greenline - revolving l. of cred. - fixed assets
3005                                    line of credit guaranty
3007                                    seasonal line of credit
3009                     pilot revolving line of credit exports

In [142]:
df[df['SUBPROGRAMCD']==1026]

    SUBPROGRAMCD           DESCRIPTION
22          1026  standard asset based

In [134]:
df = pd.read_csv('ELIPSLOOKUP_GENLDGCDTBL.csv')
df = df[df.columns[:2]]
df['DESCRIPTION']=df['DESCRIPTION'].str.lower()
df[df['DESCRIPTION'].str.contains('rev')].set_index('GENERALLEDGERCD')

                                   DESCRIPTION
GENERALLEDGERCD
3011             net assets fm sba revolv fund
3018             repayments fm revolving funds

In [139]:
df = pd.read_csv('ELIPSLOOKUP_TRANCDTBL.csv')
df = df[df.columns[0:2]]
df['DESCRIPTION']=df['DESCRIPTION'].str.lower()
df[df['DESCRIPTION'].str.contains('credit')].set_index('TRANSACTIONCD')

                                                     DESCRIPTION
TRANSACTIONCD
361                     line-of-credit guarantee fees collection
171                                         sbic drawdown credit
143              loan approval reinstatement - pre credit reform
399               increase of treasury borrowing - credit reform
420                       hurricane betsy disaster relief credit
438               application of forgiveness credit, act of 1972
449            application (conversion) of forgiveness credit...
512                    establishment of credit report obligation
551                            increase credit report obligation
552                            decrease credit report obligation
243                                        credit report expense

In [73]:
subpgm.columns

Index(['SUBPROGRAMCD', 'DESCRIPTION'], dtype='object')